@model Garage2._0.Models.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "ReceiptView";
}

<h1>Checkout</h1>

<button class="btn btn-primary mb-sm-2" onclick="generatePDF()" id="PrintReceipt">Print Receipt</button>

<div>
    <div id="print-this">
        <h4>Receipt</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-4">
                Registration Number
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>
            <dt class = "col-sm-4">
                Arrival Time
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.ArrivalTime)
            </dd>
            <dt class = "col-sm-4">
                Departure Time
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.DepartureTime)
            </dd>
            <dt class = "col-sm-4">
                Parked Time
            </dt>
            <dd class="col-sm-8">
                @ParkingHelper.FormatTimeSpan(Model.ParkedTime)
            </dd>
            <dt class = "col-sm-4">
                Parking Fee
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.ParkedFee)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete" asp-controller="ParkedVehicles" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Unpark" class="btn btn-danger" /> |
        <a asp-action="Overview">Back to garage</a>
    </form>
</div>

<script>
    function generatePDF() {
        const elementToPrint = document.getElementById('print-this');
        html2pdf(elementToPrint, {
            margin: 1,
            filename: 'kvitto.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
        });
    }
</script>